@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #001730;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.text {
  opacity: 0;
  transform: translateY(10px);
  z-index: 100;
  transition: all ease 1s;
}
.text.visible {
  opacity: 1;
  transform: translateY(0px);
}
.photo {
  position: absolute;
  right: 10%;
  top: 50%;
  width: 300px;
  border-radius: 50%;
  transform: translateY(-50%);
  border: 10px solid #fe4a49;
  box-shadow: -8px 6px 0px 10px #4ad7d1;
}
.bgRound {
  transition: all ease-in 1s;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
.bgRound.visible {
  width: 500px;
  height: 500px;
  background: rgba(0, 47, 255, 0.2);
  position: absolute;
  z-index: 0;
  left: 80%;
  top: -10%;
}
.bgRound.round2.visible {
  background: rgba(0, 217, 255, 0.2);
  width: 300px;
  height: 300px;
  left: -2%;
  top: 70%;
}
.imgWrapper img {
  width: 125px;
}
.skillsWrapper {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}
.skillsWrapper h2 {
  margin-bottom: 20px;
  font-size: 1.9em;
  font-weight: 500;
  text-align: center;
}
.myLab {
  background-color: #fff;
}
.myLab .wrapper {
  width: 80%;
  margin: 2% auto;
  padding: 50px 0;
}
.bubble1,
.bubble2,
.bubble3 {
  animation: bubbleUp 2s infinite;
}
.bubble2 {
  animation-delay: 0.5s;
}
.bubble3 {
  animation-delay: 0.75s;
}
@keyframes bubbleUp {
  0% {
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.waterLevel {
  transform-origin: center;
  animation: waterLevelGrow 2s infinite;
}
@keyframes waterLevelGrow {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.labTitle {
  color: #4ad7d1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.labTitle h2 {
  font-size: 2em;
}
